<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estadísticas</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <h1>Estadísticas de Actividades</h1>
  </header>
  <main>
    <h2>Gráfico de Actividades por Día</h2>
    <img src="static/stats/actividadeslineas.png" alt="Gráfico de actividades por día" width="500" height="500">

    <h2>Gráfico de Actividades por Tipo</h2>
    <img src="static/stats/cantidad.png" alt="Gráfico de actividades por tipo" width="500" height="500">

    <h2>Gráfico de Actividades por Hora de Inicio</h2>
    <img src="static/stats/actividades2.png" alt="Gráfico de actividades por hora de inicio" width="500" height="500">

    <a href="{{ url_for('index') }}">Volver a la portada</a>
  </main>
</body>
</html>
